body {
  background-color: #ccc;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  height: calc(100vh - 10rem);
  overflow: scroll;
}

#suchleiste {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

#searchInput {
  height: 2rem;
  width: 60%;
  border-radius: 15px;
  padding-left: 0.5rem;
  color: black;
  font-weight: 700;
}

#searchButton {
  border-radius: 15px;
  padding: 0 1rem;
  background-color: rgb(0, 102, 255);
  color: #fff;
  font-weight: 600;
}

#results {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
  font-weight: 600;
}

#results a {
  font-weight: 700;
  color: blue;
  text-decoration: none;
}

#results div .Artikelnummer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  height: 2rem;
}

#results div .nummer {
  color: rgb(255, 0, 0);
}

#results div .Beschreibung {
  padding: 0.5rem 0;
  border-bottom: 2px solid black;
}

.modal {
  display: none; /* Standardmäßig versteckt */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modalDetails {
  font-size: large;
  font-weight: 500;
}

#modalDetails p,
.ArtikelNummer {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0.3rem;
  margin: 0.5rem 0;
}

#modalDetails p:nth-child(odd) {
  background-color: #dadada;
  border-radius: 5px;
}

.ArtikelNummer {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.1rem 0.3rem;
  margin: 0.5rem 0;
  background-color: #dadada;
  border-radius: 5px;
}

.ArtikelNummerColor {
  color: red;
  margin-left: 0.2rem;
}

.mail {
  height: calc(100vh - 10rem);
}

.advancedHidden {
  display: none;
}

#palette option:first-child {
  display: none;
}

.editContainer {
  position: absolute;
  background-color: #dadada;
  width: 100%;
  padding: 1rem 2rem;
}

footer {
  position: absolute;
  height: 5rem;
  bottom: 0;
  display: flex;
  align-items: end;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

footer nav {
}

nav a {
  font-weight: 700;
  color: blue;
  text-decoration: none;
}

@media screen and (min-width: 450px) {
  main {
    overflow: auto;
  }
  #results {
    font-size: large;
  }
}

@media screen and (min-width: 400px) {
  #results {
    font-size: large;
  }
}
